body{
    background-color: rgb(160, 212, 255);
}

h1{
    color: rgb(0, 0, 0);
    font-family: "verdana";
}

h2{
    color: rgb(0, 0, 0);
    font-family: "verdana";
}

a{
    color: rgb(255, 0, 174);
    font-family: "verdana";
}

h3{
    color: rgb(0, 0, 0);
    font-family: "verdana";
}

ol{
    color: rgb(0, 0, 0);
    font-family: "verdana";
}

figure{
    color: rgb(0, 0, 0);
    font-family: "verdana";
}

p{
    color: rgb(0, 0, 0);
    font-family: "verdana";
}

.aaaaaaaa{
    font-size: 1rem;
    transition: 0.2s ease;
    width:150px;
    height:400px;

    position:absolute;
    top: 72.5rem;
    animation: spin 1ms linear;
    animation-iteration-count: infinite;
}

@keyframes jakobspin {
    100%{transform:rotateY(360deg)}
}

.jakobspin{
    font-size: 1rem;
    transition: 0.2s ease;
    width:150px;
    height:400px;

    position:absolute;
    top: 72rem;

    animation: jakobspin 7500ms linear;
    animation-iteration-count: infinite;
}

@keyframes fadeOUTglass {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.fadeOUTglass {
  animation-name: fadeOUTglass;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
}


@keyframes fadeOUTglassSLOWER {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.fadeOUTglassSLOWER {
  animation-name: fadeOUTglassSLOWER;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
}





